---
layout: null
---

#content-container {
    max-width: 100%;
}

.card {
    position: relative;
    background: linear-gradient(-45deg, #0E1116, #151a22) padding-box,
                linear-gradient(-45deg, #0E1116, rgb(255 255 255 / 5%)) border-box;
    border: 2px solid transparent;
    border-radius: 1.5rem;
    padding: 1rem;
    margin: 30px 0;
    transition: .5s;
    transition-timing-function: ease-out;
}

.card:hover {
    transform: scale(1.025);
}

.card:after {
    content: "";
    height: 70px;
    width: 1px;
    position: absolute;
    left: -1px;
    top: 65%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(transparent, #7b68ee, transparent);
    opacity: 0;
}

.card:after {
    top: 65%;
    opacity: 0;
}

.card:hover:after {
    top: 8%;
    opacity: 1;
}

.card-content {
    padding: 0 1rem;
    border-radius: 1.25rem;
    overflow: hidden;
}

@media(max-width: 700px) {
    .card {
        width: calc(100% - 2rem);
        margin: 1rem;
        padding: 0.75rem;
        border-radius: 1rem;
    }
}

@media(max-width: 600px) {
    .card-content {
        padding: 0.5rem;
    }

    .card-content>h1 {
        font-size: 2.2rem;
    }
}

.post-title {
    color: #91acee;
}

.post-subtitle {
    color: #8b9edb;
}

.post-meta {
    color: #bbbbbb;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: medium;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.post-read-more:hover {
    color: #6274a1;
}

.page-link {
    background: linear-gradient(-45deg, #7664e4, #5b4db1) padding-box,
                linear-gradient(-45deg, #0E1116, rgb(255 255 255 / 5%)) border-box;
    border: 0px solid transparent;
    border-radius: 50px !important;
}

.dropdown {
    background-color: transparent !important;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.);
    border-radius: 0.8rem;
}

.separator {
    margin: 0 auto;
    background-color: #ffffff;
    width: 20%;
    justify-self: center;
}

.separator:last-child {
    background-color: transparent !important;
}
